* {
  margin: 0;
  padding: 0;
}

:root {
  --minion-yellow: #F5E050;
  --black: #000000;
  --white: #ffffff;
}

body {
  background-color: var(--minion-yellow);
}

main {
  grid-template: repeat(auto-fit, 16.67%) / 15% auto 15%;
  display: grid;
}

header {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 3vw;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  margin: 3vh 0 3vh 0;
}

nav {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.navButton {
  text-decoration: none;
  color: #000000;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: helvetica;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 3vw;
  padding: 1.5vw 3vw 1.5vw 3vw;
  /*text-align: center;*/
  width: 5vw;
  transition: 0.4s;
}

.navButton:hover {
  background-color: var(--black);
  color: var(--minion-yellow);
  transition: 0.4s;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

#slideshow {
  grid-row-start: 3;
  grid-column-start: 2;
}

.slidepic {
  width: 75em;
}

.categoryHighlight {
  grid-row-start: 4;
  grid-column-start: 2;
  display: flex;
  justify-content: space-evenly;
  margin: 1vh 0 1vh 0;
}

.highlightimg {
  width: 80%;
  display: block;
  border: 1px solid black;
}

.highlightCategory {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: space-evenly;
}

.captionText {
  display: block;
  text-decoration: none;
  font-family: helvetica;
  line-height: 4vw;
  border: 1px solid black;
  color: var(--white);
  width: 80%;
  font-size: 1vw;
  background-color: var(--black);
  height: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.articleDivider {
  grid-row-start: 5;
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.aboutHeader {
  font-style: italic;
}

.about {
  flex: 1;
}

.ideas {
  flex: 1;
}

footer {
  grid-row-start: 6;
  grid-column-start: 2;
  bottom: 0;
  border: 1px solid black;
}
