* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

:root {
  --minion-yellow: #F5E050;
  --black: #000000;
  --white: #ffffff;
}

body {
  background-color: var(--minion-yellow);
}

.joinuspage {
  grid-row-start: 3;
  grid-column-start: 2;
}

#mainid {
  grid-template: repeat(auto-fit, 14.28%) / 15% auto 15%;
  display: grid;
}

#productsid {
  grid-template: repeat(auto-fit, 25%) / 15% auto 15%;
  display: grid;
}

#jobsid {
  grid-template: repeat(auto-fit, 33%) / 15% auto 15%;
  display: grid;
}

#joinusid {
  grid-template: repeat(auto-fit, 33%) / 15% auto 15%;
  display: grid;
}

.email {
  display: flex;
  flex-direction: row;
}

header {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin: 3vw 0 3vw 0;
}

nav {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.navButton {
  text-decoration: none;
  color: #000000;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: helvetica;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 3vw;
  padding: 1.5vw 3vw 1.5vw 3vw;
  text-align: center;
  width: 15vw;
  transition: 0.4s;
}

.navButton:hover {
  background-color: var(--black);
  color: var(--minion-yellow);
  transition: 0.4s;
}

#joboffers {
  display: flex;
  grid-row-start: 3;
  grid-column-start: 2;
}

#joboffernav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#jobofferslist {
  flex: 3;
}

.jobcategories {
  text-decoration: none;
  color: black;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.jobofferthing {
  display: flex;
  justify-content: space-between;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-decoration: none;
  color: black;
}

.jobofferthing:hover {
  background-color: black;
  color: var(--minion-yellow);
  transition: 0.4s;
}

.applybutton {
  text-decoration: none;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.jobofferthing:hover .applybutton {
  color: var(--minion-yellow);
}

.applybutton:hover {
  background-color: white;
  transition: 0.4s;
}

.slideshow-container {
  grid-row-start: 3;
  grid-column-start: 2;
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
}

.mySlides {
  display: none;
}

.slidepic {
  width: 70vw;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 1.5vw;
  font-family: helvetica;
  height: 6vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
}

.mySlides:hover .text {
  display: block;
}

.categoryHighlight {
  grid-row-start: 5;
  grid-column-start: 2;
  display: flex;
  justify-content: space-around;
}

.highlightimg {
  width: 80%;
  display: block;
}

.highlightCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: auto;
}

.captionText {
  display: block;
  text-decoration: none;
  font-family: helvetica;
  line-height: 4vw;
  border: 1px solid black;
  color: var(--white);
  width: 80%;
  font-size: 1vw;
  background-color: var(--black);
  height: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.articleDivider {
  grid-row-start: 6;
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: helvetica;
}

.aboutHeader {
  font-style: italic;
}

.about {
  flex: 1;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
}

.ideas {
  flex: 1;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
}

footer {
  grid-row-start: 7;
  grid-column-start: 2;
  bottom: 0;
  border: 1px solid black;
  font-size: 1vw;
}
